# PART- 2 ( Handling Missing Values )

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
from scipy import stats
from scipy.stats.mstats import winsorize

import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

%matplotlib inline
# %matplotlib notebook

plt.rcParams["figure.figsize"] = (10,6)
# plt.rcParams['figure.dpi'] = 100

sns.set_style("whitegrid")
pd.set_option('display.float_format', lambda x: '%.3f' % x)

pd.options.display.max_rows = 1000
pd.options.display.max_columns = 150

In [2]:
df = pd.read_csv("clean_scout.csv")

In [3]:
df.shape

(15919, 33)

In [4]:
df.head().T

,0,1,2,3,4
Make_Model,Audi A1,Audi A1,Audi A1,Audi A1,Audi A1
Body_Type,Sedans,Sedans,Sedans,Sedans,Sedans
Price,15770,14500,14640,14500,16790
Vat,VAT deductible,Price negotiable,VAT deductible,NaN,NaN
Km,56013.000,80000.000,83450.000,73000.000,16200.000
Hp,66.000,141.000,85.000,66.000,66.000
Type,Used,Used,Used,Used,Used
Warranty,NaN,NaN,NaN,NaN,NaN
Cylinders,3.000,4.000,NaN,3.000,3.000
Fuel,Diesel,Benzine,Diesel,Diesel,Diesel
Comfort_Convenience,"Air conditioning,Armrest,Automatic climate con...","Air conditioning,Automatic climate control,Hil...","Air conditioning,Cruise control,Electrical sid...","Air suspension,Armrest,Auxiliary heating,Elect...","Air conditioning,Armrest,Automatic climate con..."
Entertainment_Media,"Bluetooth,Hands-free equipment,On-board comput...","Bluetooth,Hands-free equipment,On-board comput...","MP3,On-board computer","Bluetooth,CD player,Hands-free equipment,MP3,O...","Bluetooth,CD player,Hands-free equipment,MP3,O..."
Extras,"Alloy wheels,Catalytic Converter,Voice Control","Alloy wheels,Sport seats,Sport suspension,Voic...","Alloy wheels,Voice Control","Alloy wheels,Sport seats,Voice Control","Alloy wheels,Sport package,Sport suspension,Vo..."
Safety_Security,"ABS,Central door lock,Daytime running lights,D...","ABS,Central door lock,Central door lock with r...","ABS,Central door lock,Daytime running lights,D...","ABS,Alarm system,Central door lock with remote...","ABS,Central door lock,Driver-side airbag,Elect..."
Gears,NaN,7.000,NaN,6.000,NaN
Age,3.000,2.000,3.000,3.000,3.000
Previous_Owners,2.000,NaN,1.000,1.000,1.000
Inspection_New,Yes,NaN,NaN,NaN,Yes
Body_Color,Black,Red,Black,Brown,Black
Paint_Type,Metallic,NaN,Metallic,Metallic,Metallic
Upholstery_Type,Cloth,Cloth,Cloth,NaN,Cloth
Upholstery_Color,Black,Grey,Black,NaN,Black
Nr_Of_Doors,5.000,3.000,4.000,3.000,5.000
Nr_Of_Seats,5.000,4.000,4.000,4.000,5.000
Gear_Type,Automatic,Automatic,Automatic,Automatic,Automatic
Displacement_cc,1422.000,1798.000,1598.000,1422.000,1422.000
Weight_kg,1220.000,1255.000,NaN,1195.000,NaN
Drive_Chain,front,front,front,NaN,front
Cons_Comb,3.800,5.600,3.800,3.800,4.100
Cons_City,4.300,7.100,4.400,4.300,4.600
Cons_Country,3.500,4.700,3.400,3.500,3.800
Co2_Emission,99.000,129.000,99.000,99.000,109.000
Emission_Class,Euro 6,Euro 6,Euro 6,Euro 6,Euro 6

In [5]:
(df.isnull().sum()/df.shape[0]*100).sort_values(ascending=False)

Inspection_New        75.300
Warranty              69.514
Weight_kg             43.809
Drive_Chain           43.081
Previous_Owners       41.711
Paint_Type            36.259
Cylinders             35.681
Upholstery_Color      31.547
Gears                 29.600
Vat                   28.350
Upholstery_Type       28.287
Emission_Class        22.790
Extras                18.607
Co2_Emission          15.302
Cons_City             15.302
Cons_Country          14.926
Cons_Comb             12.771
Age                   10.032
Entertainment_Media    8.631
Km                     6.433
Safety_Security        6.169
Nr_Of_Seats            6.137
Comfort_Convenience    5.779
Body_Color             3.750
Displacement_cc        3.116
Nr_Of_Doors            1.332
Hp                     0.553
Body_Type              0.377
Type                   0.013
Gear_Type              0.000
Price                  0.000
Fuel                   0.000
Make_Model             0.000
dtype: float64

In [10]:
miss_val = []
[miss_val.append(i) for i in df.columns if df[i].isnull().any()]
miss_val

['Body_Type',
 'Vat',
 'Km',
 'Hp',
 'Type',
 'Warranty',
 'Cylinders',
 'Comfort_Convenience',
 'Entertainment_Media',
 'Extras',
 'Safety_Security',
 'Gears',
 'Age',
 'Previous_Owners',
 'Inspection_New',
 'Body_Color',
 'Paint_Type',
 'Upholstery_Type',
 'Upholstery_Color',
 'Nr_Of_Doors',
 'Nr_Of_Seats',
 'Displacement_cc',
 'Weight_kg',
 'Drive_Chain',
 'Cons_Comb',
 'Cons_City',
 'Cons_Country',
 'Co2_Emission',
 'Emission_Class']

In [11]:
df.nunique()

Make_Model                9
Body_Type                 9
Price                  2956
Vat                       2
Km                     6689
Hp                       80
Type                      5
Warranty                 41
Cylinders                 7
Fuel                      4
Comfort_Convenience    6198
Entertainment_Media     346
Extras                  659
Safety_Security        4443
Gears                    10
Age                       4
Previous_Owners           5
Inspection_New            1
Body_Color               14
Paint_Type                3
Upholstery_Type           6
Upholstery_Color         10
Nr_Of_Doors               6
Nr_Of_Seats               6
Gear_Type                 3
Displacement_cc          77
Weight_kg               434
Drive_Chain               3
Cons_Comb                72
Cons_City                86
Cons_Country             57
Co2_Emission            120
Emission_Class            3
dtype: int64

In [14]:
df.columns

Index(['Make_Model', 'Body_Type', 'Price', 'Vat', 'Km', 'Hp', 'Type',
       'Warranty', 'Cylinders', 'Fuel', 'Comfort_Convenience',
       'Entertainment_Media', 'Extras', 'Safety_Security', 'Gears', 'Age',
       'Previous_Owners', 'Inspection_New', 'Body_Color', 'Paint_Type',
       'Upholstery_Type', 'Upholstery_Color', 'Nr_Of_Doors', 'Nr_Of_Seats',
       'Gear_Type', 'Displacement_cc', 'Weight_kg', 'Drive_Chain', 'Cons_Comb',
       'Cons_City', 'Cons_Country', 'Co2_Emission', 'Emission_Class'],
      dtype='object')

In [15]:
df.columns= df.columns.str.lower().str.replace('&', '_').str.replace(' ', '_')

In [16]:
df.columns

Index(['make_model', 'body_type', 'price', 'vat', 'km', 'hp', 'type',
       'warranty', 'cylinders', 'fuel', 'comfort_convenience',
       'entertainment_media', 'extras', 'safety_security', 'gears', 'age',
       'previous_owners', 'inspection_new', 'body_color', 'paint_type',
       'upholstery_type', 'upholstery_color', 'nr_of_doors', 'nr_of_seats',
       'gear_type', 'displacement_cc', 'weight_kg', 'drive_chain', 'cons_comb',
       'cons_city', 'cons_country', 'co2_emission', 'emission_class'],
      dtype='object')

## Let's examine and fill the missing values of all the columns/features one by one

In [12]:
# function for first looking to the columns

def first_looking_col(col):
    print("column name    : ", col)
    print("--------------------------------")
    print("per_of_nulls   : ", "%", round(df[col].isnull().sum()/df.shape[0]*100, 2))
    print("num_of_nulls   : ", df[col].isnull().sum())
    print("num_of_uniques : ", df[col].nunique())
    print(df[col].value_counts(dropna = False))

## age

In [17]:
first_looking_col("age")

column name    :  age
--------------------------------
per_of_nulls   :  % 10.03
num_of_nulls   :  1597
num_of_uniques :  4
1.000    4522
3.000    3674
2.000    3273
0.000    2853
NaN      1597
Name: age, dtype: int64

In [23]:
df['age'].fillna('-', inplace=True)

In [24]:
df.groupby("age").km.describe()

,count,mean,std,min,25%,50%,75%,max
age,,,,,,,,
0.0,2706.000,2085.355,5365.881,1.000,10.000,50.000,3000.000,127022.000
1.0,4484.000,18035.239,11052.524,1.000,9990.000,17872.000,25078.500,136000.000
2.0,3272.000,41754.941,28295.748,1.000,21541.750,34752.000,54805.500,317000.000
3.0,3674.000,77442.521,39170.143,10.000,48000.000,72914.500,99950.000,291800.000
-,759.000,934.497,7416.244,0.000,5.000,10.000,10.000,89982.000

In [26]:
df[df["age"]=="-"]["km"].value_counts(dropna=False)

NaN          838
10.000       369
1.000        146
5.000         58
20.000        32
15.000        21
0.000         19
11.000        12
8.000         11
50.000        10
100.000        8
12.000         8
7.000          7
3.000          4
9.000          4
4.000          3
25.000         3
250.000        3
30.000         3
3000.000       2
22627.000      2
39962.000      2
2.000          2
19500.000      1
11000.000      1
85000.000      1
4307.000       1
89692.000      1
77.000         1
3500.000       1
68485.000      1
5000.000       1
141.000        1
150.000        1
34164.000      1
142.000        1
32084.000      1
81800.000      1
11200.000      1
20768.000      1
4500.000       1
40.000         1
784.000        1
89982.000      1
500.000        1
325.000        1
6100.000       1
196.000        1
6.000          1
60.000         1
497.000        1
99.000         1
281.000        1
Name: km, dtype: int64

In [27]:
df.loc[df['km'] < 10000, ["km", "age"]].sample(10)

            km   age
14809  849.000 0.000
8102   500.000 0.000
7095  5000.000 0.000
5428    50.000 0.000
14697   10.000     -
14745    5.000 0.000
135   7307.000 2.000
12782    5.000     -
2233  6000.000 0.000
5356     1.000 0.000

In [29]:
# Fill our nan values of age column; based on "km" value status

cond1 = (df['km'] < 10000)
cond2 = ((df['km'] >= 10000) & (df['km'] < 28000))
cond3 = ((df['km'] >= 28000) & (df['km'] < 50000))
cond4 = (df['km'] >= 50000)

In [30]:
df.loc[cond1,'age'] = df.loc[cond1,'age'].replace('-', 0)
df.loc[cond2,'age'] = df.loc[cond2,'age'].replace('-', 1)
df.loc[cond3,'age'] = df.loc[cond3,'age'].replace('-', 2)
df.loc[cond4,'age'] = df.loc[cond4,'age'].replace('-', 3)

In [31]:
df.groupby('age').km.mean()

age
0.0    1647.363
1.0   18035.130
2.0   41748.577
3.0   77450.063
-           NaN
Name: km, dtype: float64

In [32]:
# we used "km" column to fill nan values of "age" column, but we have nan values for "km" too 
df["km"].isnull().sum()

1024

In [33]:
df["age"].value_counts(dropna=False)

1.0    4528
3.0    3679
0.0    3597
2.0    3277
-       838
Name: age, dtype: int64

In [34]:
# no missing value of "age" --> when we are talking about "km"
df.groupby(['make_model', 'age']).km.describe()

                     count      mean       std       min       25%       50%  \
make_model     age
Audi A1        0.0 569.000  2103.459  3258.850     0.000    10.000   100.000
               1.0 744.000 13806.144  7975.693     1.000  7466.750 12413.000
               2.0 432.000 25821.713 18608.364    10.000 14252.500 20730.500
               3.0 629.000 54332.286 26281.269  3150.000 34914.000 50000.000
               -     0.000       NaN       NaN       NaN       NaN       NaN
Audi A2        1.0   1.000 26166.000       NaN 26166.000 26166.000 26166.000
Audi A3        0.0 671.000  1517.817  6548.643     0.000    10.000    10.000
               1.0 776.000 18410.524 11054.420     1.000 11200.000 18000.000
               2.0 675.000 43853.141 27349.704    15.000 25000.000 36677.000
               3.0 818.000 90092.983 36464.156    35.000 62863.250 88000.000
               -     0.000       NaN       NaN       NaN       NaN       NaN
Opel Astra     0.0 541.000  2351.275  5103.476     0.000    10.000    50.000
               1.0 721.000 21442.709 10900.190     5.000 14000.000 22000.000
               2.0 587.000 49981.779 31163.248    30.000 25201.500 44179.000
               3.0 521.000 89086.697 42021.315 10027.000 58021.000 84900.000
               -     0.000       NaN       NaN       NaN       NaN       NaN
Opel Corsa     0.0 647.000   913.544  3591.394     0.000    10.000    10.000
               1.0 684.000 17431.599 11739.606     5.000  8381.250 16617.000
               2.0 386.000 39942.383 25855.345    99.000 21075.000 39905.500
               3.0 430.000 62947.974 36418.878  1800.000 34803.750 55484.000
               -     0.000       NaN       NaN       NaN       NaN       NaN
Opel Insignia  0.0 435.000  2419.908  4165.213     0.000    10.000    77.000
               1.0 767.000 22179.207  8486.335     1.000 16217.500 23928.000
               2.0 589.000 47732.104 32834.328     1.000 22561.000 33900.000
               3.0 568.000 93182.342 41020.814 10791.000 63000.000 88808.500
               -     0.000       NaN       NaN       NaN       NaN       NaN
Renault Clio   0.0 332.000   581.717  5865.375     0.000     9.750    10.000
               1.0 564.000 15396.518 13314.804     1.000  5296.250 13685.000
               2.0 437.000 36660.153 21098.396    20.000 23000.000 32713.000
               3.0 413.000 68615.436 35580.167    10.000 42208.000 63404.000
               -     0.000       NaN       NaN       NaN       NaN       NaN
Renault Duster 0.0  16.000   101.000     0.000   101.000   101.000   101.000
               -     0.000       NaN       NaN       NaN       NaN       NaN
Renault Espace 0.0 239.000  1496.105  3501.074     0.000    10.000    15.000
               1.0 233.000 14226.330 11099.269     1.000  5250.000 13625.000
               2.0 170.000 41886.635 27216.915     1.000 22313.750 41115.500
               3.0 300.000 74400.567 34189.093  3532.000 49975.000 68766.000
               -     0.000       NaN       NaN       NaN       NaN       NaN

                          75%        max
make_model     age
Audi A1        0.0   3333.000  18000.000
               1.0  20309.750  47000.000
               2.0  32028.750 148257.000
               3.0  65500.000 192000.000
               -          NaN        NaN
Audi A2        1.0  26166.000  26166.000
Audi A3        0.0    100.000 127022.000
               1.0  24215.000 136000.000
               2.0  55251.000 158000.000
               3.0 112562.500 291800.000
               -          NaN        NaN
Opel Astra     0.0   3698.000  88000.000
               1.0  28466.000  67500.000
               2.0  69188.000 188000.000
               3.0 112388.000 260000.000
               -          NaN        NaN
Opel Corsa     0.0    100.000  76300.000
               1.0  24500.000  70000.000
               2.0  54679.250 317000.000
               3.0  90000.000 179521.000
               -          NaN        NaN
Opel Insignia  0.0   3995.000  37500.000
               1.0  28460.000  70670.000
               2.0  77125.000 180033.000
               3.0 117500.000 232000.000
               -          NaN        NaN
Renault Clio   0.0     50.000 105000.000
               1.0  23308.000 113392.000
               2.0  46000.000 131494.000
               3.0  92000.000 163500.000
               -          NaN        NaN
Renault Duster 0.0    101.000    101.000
               -          NaN        NaN
Renault Espace 0.0   1000.000  19900.000
               1.0  20900.000  62860.000
               2.0  49606.000 240000.000
               3.0  95000.000 197414.000
               -          NaN        NaN

In [35]:
# if we check price, we have missing values for "age"
df.groupby(['make_model',"body_type", 'age']).price.describe()

                                   count      mean       std       min  \
make_model     body_type     age
Audi A1        Compact       0.0 198.000 23277.434  3510.406 14900.000
                             1.0 268.000 18596.041  2659.910 13980.000
                             2.0 161.000 16602.807  2085.384 10999.000
                             3.0 234.000 14532.910  1908.909  9950.000
                             -   178.000 23996.264  3383.852 16220.000
               Coupe         2.0   1.000 15900.000       NaN 15900.000
                             3.0   1.000 13950.000       NaN 13950.000
               Other         0.0   8.000 23826.250  2057.439 21490.000
                             1.0   3.000 16796.667   178.979 16590.000
                             2.0   1.000 23490.000       NaN 23490.000
                             -     1.000 21850.000       NaN 21850.000
               Sedans        0.0 368.000 24158.087  3196.985 15990.000
                             1.0 465.000 18394.938  2588.159 13450.000
                             2.0 266.000 16605.395  2223.979 11600.000
                             3.0 389.000 14466.900  1890.278  8999.000
                             -    50.000 23336.560  3815.326 15980.000
               Station wagon 0.0   2.000 28944.500    77.075 28890.000
                             1.0  11.000 17410.909  2166.031 15750.000
                             2.0   3.000 17613.333  2953.817 14750.000
                             3.0   5.000 14358.000  1276.891 12950.000
               Van           0.0   1.000 29000.000       NaN 29000.000
Audi A2        Off-Road      1.0   1.000 28200.000       NaN 28200.000
Audi A3        Compact       0.0  17.000 29345.471  8767.065 15500.000
                             1.0  29.000 22030.931  4270.469 14500.000
                             2.0  39.000 20489.769  8208.445 13790.000
                             3.0  93.000 15303.796  2256.723 12900.000
                             -     4.000 25582.500  1185.109 24542.000
               Convertible   1.0   3.000 29664.333 23557.901 10893.000
                             2.0   4.000 28562.500  5301.159 20900.000
                             3.0   1.000 20000.000       NaN 20000.000
               Coupe         2.0   1.000 19000.000       NaN 19000.000
                             3.0   3.000 17326.667   583.124 16990.000
               Other         1.0   4.000 23422.500  3548.055 20200.000
                             2.0   4.000 18675.000  1351.851 17650.000
                             3.0   5.000 15970.000  2392.070 12550.000
                             -     3.000 25990.000  1322.876 24490.000
               Sedans        0.0 626.000 24909.898  2354.990 18820.000
                             1.0 709.000 22544.715  5224.410 14250.000
                             2.0 550.000 19980.358  3721.376 10550.000
                             3.0 647.000 16702.832  2900.228 10950.000
                             -    66.000 24395.242  2372.569 19750.000
               Station wagon 0.0  69.000 25219.000  5011.257 17990.000
                             1.0  32.000 21252.594  3201.415  5555.000
                             2.0  72.000 19010.875  1522.622 14590.000
                             3.0  67.000 15739.507  1883.567 11790.000
                             -    42.000 23558.667  1687.726 18980.000
Opel Astra     Compact       0.0  51.000 23056.118  7391.480 16500.000
                             1.0  39.000 14717.538  1266.385 11999.000
                             2.0  55.000 13091.491  1884.243  9999.000
                             3.0  30.000 12023.733  2767.419  8450.000
                             -    10.000 16636.600  1098.445 15816.000
               Coupe         0.0   1.000 29990.000       NaN 29990.000
                             3.0   1.000 14490.000       NaN 14490.000
               Off-Road      1.0   1.000 18590.000       NaN 18590.000
               Other         0.0   9.000 17175.000  1225.566 15490.000
                             1.0  35.000 14681.429   554.644 12900.000
                             2.0  11.000 12059.545  1462.304 10040.000
                             3.0  12.000 10652.417  2438.981  8490.000
               Sedans        0.0 260.000 20528.096  4601.490  6950.000
                             1.0 320.000 15682.544  1794.249  8860.000
                             2.0 249.000 12954.040  2080.899  7800.000
                             3.0 150.000 11899.480  2304.464  6500.000
                             -    74.000 19500.405  3467.240 13929.000
               Station wagon 0.0 237.000 22624.730  5168.016 15285.000
                             1.0 332.000 16882.630  1943.277   255.000
                             2.0 269.000 13093.089  2017.233  8480.000
                             3.0 325.000 11047.557  2526.506  6000.000
                             -    48.000 21232.875  4266.954 15445.000
Opel Corsa     Compact       0.0 476.000 13758.405  2637.068   120.000
                             1.0 353.000 11913.510  2098.742  7499.000
                             2.0 158.000  9683.411  1782.282  6250.000
                             3.0 213.000  8426.765  2065.760  4990.000
                             -    30.000 14188.367  3126.629  9245.000
               Coupe         0.0   3.000 10283.333  1286.792  8800.000
                             2.0   5.000  8718.000  1356.695  7500.000
                             3.0   5.000  7920.000  1478.851  6900.000
               Off-Road      2.0   3.000  8166.667   461.880  7900.000
               Other         0.0  13.000 10728.923  3386.983   331.000
                             1.0  49.000  9706.837  1414.526  8490.000
                             2.0  19.000  8667.895   202.281  8500.000
                             3.0   4.000  9054.750  1463.729  7900.000
                             -     2.000 16600.000   919.239 15950.000
               Sedans        0.0 176.000 12949.898  2584.623  8200.000
                             1.0 281.000 10814.836  1985.520    13.000
                             2.0 199.000  9000.975  1513.124  6200.000
                             3.0 203.000  7985.808  1449.380  4950.000
                             -    16.000 12474.688  2733.915  9990.000
               Transporter   0.0   3.000  9933.333   493.288  9600.000
                             2.0   1.000  7450.000       NaN  7450.000
                             3.0   3.000  5433.333   175.594  5250.000
               Van           3.0   2.000  7900.000     0.000  7900.000
Opel Insignia  Compact       0.0  16.000 35747.625  6580.219 21900.000
                             1.0   2.000 20400.000   707.107 19900.000
                             2.0   4.000 17545.000  3341.262 13490.000
                             3.0   4.000 12375.000  2373.640 10350.000
                             -     1.000 39490.000       NaN 39490.000
               Coupe         2.0   1.000 17094.000       NaN 17094.000
               Off-Road      0.0   2.000 30995.000  3528.463 28500.000
                             3.0   1.000 12750.000       NaN 12750.000
                             -     4.000 32854.750  1387.646 31505.000
               Other         0.0   7.000 28008.429  4775.491 24700.000
                             1.0   7.000 20850.714  2277.232 18480.000
                             2.0  31.000 15860.968  2564.308 10600.000
                             3.0   3.000 14063.333  1314.927 12900.000
               Sedans        0.0 138.000 33401.674  4882.201 22120.000
                             1.0 278.000 20368.583  2439.116 15990.000
                             2.0 245.000 16575.776  3254.280  9900.000
                             3.0 126.000 13411.048  2251.593  8600.000
                             -   113.000 27560.788  5192.396 19902.000
               Station wagon 0.0 287.000 33783.021  4561.027 19900.000
                             1.0 480.000 21973.621  1654.916 17500.000
                             2.0 305.000 17493.898  2614.542  8990.000
                             3.0 434.000 13673.684  2165.299  8290.000
                             -   105.000 30336.314  5340.690 21992.000
               Van           1.0   1.000 20980.000       NaN 20980.000
Renault Clio   Compact       0.0 158.000 11845.614  2823.449  9545.000
                             1.0 134.000 15835.754  4597.178  8990.000
                             2.0  86.000 12484.372  3428.348  6950.000
                             3.0  87.000  9549.011  2732.518  5800.000
                             -    19.000 11810.789  2079.485  9990.000
               Coupe         2.0   1.000 17990.000       NaN 17990.000
               Off-Road      0.0   1.000 17990.000       NaN 17990.000
                             3.0   1.000  7700.000       NaN  7700.000
               Other         0.0  18.000 10558.889   723.113  8690.000
                             1.0  20.000 14979.550  2051.507  9900.000
                             2.0   7.000 10170.000  2794.363  7970.000
                             3.0   6.000  9426.000  2834.963  7500.000
               Sedans        0.0 149.000 11976.403  3434.890  6950.000
                             1.0 308.000 15270.649  5487.220  8480.000
                             2.0 230.000 10121.900  2536.429  6990.000
                             3.0 209.000  9348.115  2769.832  5445.000
                             -    22.000 11390.273  2224.604  8750.000
               Station wagon 0.0  35.000 12717.371  3518.044  6900.000
                             1.0  98.000 11924.622  2977.329  7950.000
                             2.0  99.000 11288.848  2708.793  6000.000
                             3.0  97.000  9437.845  2481.119  5900.000
                             -     8.000 12870.500  2466.880 10890.000
               Transporter   0.0   3.000  9661.333   691.666  9262.000
                             1.0   6.000 10058.500   761.313  8990.000
                             2.0   9.000  8415.556   839.674  6900.000
                             3.0  11.000  7376.364   876.838  5900.000
               Van           1.0   1.000  9900.000       NaN  9900.000
                             2.0   1.000  9400.000       NaN  9400.000
Renault Duster Off-Road      0.0  16.000 13343.000  1625.593 10900.000
                             -    18.000 13129.889  1659.899 10850.000
Renault Espace Compact       0.0   3.000 38830.000  4855.070 33500.000
                             2.0   1.000 23990.000       NaN 23990.000
                             3.0   2.000 19900.000  2828.427 17900.000
               Coupe         0.0   1.000 34140.000       NaN 34140.000
                             1.0   1.000 26994.000       NaN 26994.000
               Off-Road      1.0   2.000 27850.000     0.000 27850.000
                             2.0   5.000 27100.000  4103.657 22500.000
                             3.0   1.000 14900.000       NaN 14900.000
               Other         0.0   1.000 42681.000       NaN 42681.000
                             1.0   2.000 34000.000     0.000 34000.000
                             2.0   2.000 24900.000  4242.641 21900.000
                             3.0   3.000 25463.333  7713.497 17500.000
               Sedans        0.0   1.000 48498.000       NaN 48498.000
                             1.0  13.000 29090.462  3321.812 25490.000
                             2.0   3.000 23863.333   109.697 23800.000
                             3.0   2.000 22449.500  4879.744 18999.000
                             -     2.000 43969.000  4137.989 41043.000
               Station wagon 0.0   9.000 43642.222  4066.795 37900.000
                             1.0  14.000 34301.429  3864.125 28990.000
                             2.0  13.000 27046.846  5245.900 19450.000
                             3.0  52.000 21626.827  2862.987 16900.000
                             -     3.000 45476.667  4746.634 42490.000
               Transporter   0.0   1.000 32700.000       NaN 32700.000
                             1.0   5.000 29297.800  1306.587 27990.000
                             2.0   9.000 23861.000  3464.582 19450.000
                             3.0  37.000 21124.297  3279.229 14999.000
               Van           0.0 218.000 40074.514  8154.729 24200.000
                             1.0 207.000 31947.841  4072.970 23099.000
                             2.0 134.000 26574.478  3427.863 14600.000
                             3.0 199.000 22132.623  3216.032 12614.000
                             -    19.000 39632.316  6866.139 28650.000

                                       25%       50%       75%       max
make_model     body_type     age
Audi A1        Compact       0.0 20503.500 22492.000 26798.500 31990.000
                             1.0 16445.000 16980.000 20950.000 23829.000
                             2.0 15450.000 15850.000 17700.000 22150.000
                             3.0 13407.500 13994.500 15480.000 18900.000
                             -   21515.000 22875.000 27380.000 29181.000
               Coupe         2.0 15900.000 15900.000 15900.000 15900.000
                             3.0 13950.000 13950.000 13950.000 13950.000
               Other         0.0 22490.000 22720.000 25900.000 26900.000
                             1.0 16745.000 16900.000 16900.000 16900.000
                             2.0 23490.000 23490.000 23490.000 23490.000
                             -   21850.000 21850.000 21850.000 21850.000
               Sedans        0.0 21797.500 23800.000 26890.000 37900.000
                             1.0 16321.000 16950.000 20350.000 33900.000
                             2.0 14955.000 15900.000 18000.000 22500.000
                             3.0 13000.000 13950.000 15784.000 19900.000
                             -   20982.500 22345.000 26855.000 29137.000
               Station wagon 0.0 28917.250 28944.500 28971.750 28999.000
                             1.0 15870.000 16480.000 18260.000 21450.000
                             2.0 16095.000 17440.000 19045.000 20650.000
                             3.0 13979.000 13999.000 14440.000 16422.000
               Van           0.0 29000.000 29000.000 29000.000 29000.000
Audi A2        Off-Road      1.0 28200.000 28200.000 28200.000 28200.000
Audi A3        Compact       0.0 22300.000 24900.000 37998.000 41495.000
                             1.0 19999.000 21900.000 22599.000 39959.000
                             2.0 17525.000 18945.000 20780.000 67600.000
                             3.0 13500.000 14900.000 16895.000 24950.000
                             -   25056.500 25250.000 25776.000 27288.000
               Convertible   1.0 16446.500 22000.000 39050.000 56100.000
                             2.0 27350.000 30200.000 31412.500 32950.000
                             3.0 20000.000 20000.000 20000.000 20000.000
               Coupe         2.0 19000.000 19000.000 19000.000 19000.000
                             3.0 16990.000 16990.000 17495.000 18000.000
               Other         1.0 21925.000 22500.000 23997.500 28490.000
                             2.0 17650.000 18275.000 19300.000 20500.000
                             3.0 15300.000 15500.000 18000.000 18500.000
                             -   25490.000 26490.000 26740.000 26990.000
               Sedans        0.0 23885.000 24900.000 26197.500 62900.000
                             1.0 20800.000 21500.000 22900.000 74600.000
                             2.0 18000.000 19400.000 20990.000 55000.000
                             3.0 15110.000 15980.000 17890.000 42500.000
                             -   22944.750 23947.500 26200.000 34738.000
               Station wagon 0.0 23490.000 24980.000 25884.000 63900.000
                             1.0 20650.000 21480.000 22900.000 23800.000
                             2.0 18374.500 18990.000 19621.250 21990.000
                             3.0 14195.000 15900.000 17250.000 18780.000
                             -   22359.750 23590.000 24937.500 26990.000
Opel Astra     Compact       0.0 17490.000 18300.000 29675.000 39433.000
                             1.0 13990.000 14900.000 14990.000 18900.000
                             2.0 11955.000 12636.000 12955.000 19950.000
                             3.0 10111.250 10947.500 14854.250 17750.000
                             -   15890.000 16159.000 16864.500 18599.000
               Coupe         0.0 29990.000 29990.000 29990.000 29990.000
                             3.0 14490.000 14490.000 14490.000 14490.000
               Off-Road      1.0 18590.000 18590.000 18590.000 18590.000
               Other         0.0 16390.000 17390.000 17490.000 18990.000
                             1.0 14495.000 14890.000 14990.000 15300.000
                             2.0 11250.000 11950.000 12700.000 15400.000
                             3.0  9367.250  9490.000 10900.000 14990.000
               Sedans        0.0 17585.000 18665.000 23940.000 32950.000
                             1.0 14537.250 15275.000 17205.000 18990.000
                             2.0 11320.000 12500.000 14900.000 17890.000
                             3.0 10400.000 10950.000 13967.500 15999.000
                             -   16977.000 18354.000 22375.000 28900.000
               Station wagon 0.0 18096.000 19990.000 26950.000 34580.000
                             1.0 15200.000 17355.000 18465.750 18990.000
                             2.0 11850.000 12660.000 14650.000 17890.000
                             3.0  9479.000 10500.000 12000.000 15999.000
                             -   18040.500 20240.000 23777.500 34900.000
Opel Corsa     Compact       0.0 10979.000 14650.000 15942.500 18622.000
                             1.0  9800.000 12750.000 13890.000 15790.000
                             2.0  8500.000  8950.000 11261.250 13990.000
                             3.0  7290.000  7750.000  7950.000 16950.000
                             -   10785.000 15980.000 17035.000 17490.000
               Coupe         0.0  9875.000 10950.000 11025.000 11100.000
                             2.0  7900.000  8500.000  8700.000 10990.000
                             3.0  7200.000  7200.000  7800.000 10500.000
               Off-Road      2.0  7900.000  7900.000  8300.000  8700.000
               Other         0.0 10990.000 10990.000 10995.000 14990.000
                             1.0  8900.000  9500.000  9690.000 13990.000
                             2.0  8500.000  8500.000  8900.000  8900.000
                             3.0  7900.000  8685.000  9839.750 10949.000
                             -   16275.000 16600.000 16925.000 17250.000
               Sedans        0.0 10990.000 11390.000 15427.500 18490.000
                             1.0  9499.000  9900.000 12500.000 15690.000
                             2.0  8299.000  8600.000  8950.000 13900.000
                             3.0  7400.000  7650.000  7900.000 13500.000
                             -   10867.500 11120.000 14883.000 17990.000
               Transporter   0.0  9650.000  9700.000 10100.000 10500.000
                             2.0  7450.000  7450.000  7450.000  7450.000
                             3.0  5350.000  5450.000  5525.000  5600.000
               Van           3.0  7900.000  7900.000  7900.000  7900.000
Opel Insignia  Compact       0.0 34495.000 36345.000 38991.250 49884.000
                             1.0 20150.000 20400.000 20650.000 20900.000
                             2.0 15740.000 17695.000 19500.000 21300.000
                             3.0 10350.000 12125.000 14150.000 14900.000
                             -   39490.000 39490.000 39490.000 39490.000
               Coupe         2.0 17094.000 17094.000 17094.000 17094.000
               Off-Road      0.0 29747.500 30995.000 32242.500 33490.000
                             3.0 12750.000 12750.000 12750.000 12750.000

In [37]:
df['age'].replace('-',0, inplace=True)  # okay let's fill all missing values of "age" columns' as 0

In [38]:
df.groupby('age').km.mean()

age
0.000    1647.363
1.000   18035.130
2.000   41748.577
3.000   77450.063
Name: km, dtype: float64

In [39]:
df["age"].value_counts(dropna=False)

1.000    4528
0.000    4435
3.000    3679
2.000    3277
Name: age, dtype: int64

In [48]:
df.age.isnull().any()

False

## km

In [40]:
first_looking_col("km")

column name    :  km
--------------------------------
per_of_nulls   :  % 6.43
num_of_nulls   :  1024
num_of_uniques :  6689
10.000        1045
NaN           1024
1.000          367
5.000          170
50.000         148
              ...
160542.000       1
20719.000        1
91910.000        1
39860.000        1
57889.000        1
Name: km, Length: 6690, dtype: int64

In [41]:
df.groupby("age").km.mean()

age
0.000    1647.363
1.000   18035.130
2.000   41748.577
3.000   77450.063
Name: km, dtype: float64

In [42]:
df.groupby("age").km.transform("mean").sample(10)  # transform all km values into mean as above

975     18035.130
8731    77450.063
13057   77450.063
15101   77450.063
7448    18035.130
8849    77450.063
455     77450.063
11681   41748.577
8821    77450.063
336     77450.063
Name: km, dtype: float64

In [44]:
df["km"].fillna(df.groupby("age").km.transform("mean"), inplace=True)

In [45]:
df.km.value_counts(dropna=False)

10.000        1045
1647.363       985
1.000          367
5.000          170
50.000         148
              ...
160542.000       1
20719.000        1
91910.000        1
39860.000        1
57889.000        1
Name: km, Length: 6692, dtype: int64

In [47]:
df.km.isnull().any()

False

## body type

In [50]:
first_looking_col("body_type")

column name    :  body_type
--------------------------------
per_of_nulls   :  % 0.38
num_of_nulls   :  60
num_of_uniques :  9
Sedans           7903
Station wagon    3553
Compact          3153
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [52]:
df.body_type.replace("Other", np.nan, inplace=True)

In [53]:
df['body_type'].value_counts(dropna=False)

Sedans           7903
Station wagon    3553
Compact          3153
Van               783
NaN               350
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [54]:
df["body_type"].mode()

0    Sedans
dtype: object